body {
  background-color:gold;
}
#board {
  width: 400px;
  overflow: hidden;
  margin: 50px auto;
}
#board .tile {
  background: red;
}
#board .tile,
#board .tile img {
  display:block;
/*converts image from a inline level to a block level element, so you can do margin, padding, etc.*/
  width: 100px;
  float: left;
  background: red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#board .tile img {
  visibility: hidden;
}
#board .tile.active img {
  visibility: visible;
}